.ui-paginator {
    margin: 0;
    text-align: center;
    padding: .125em;
}

.ui-paginator .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-paginator .ui-paginator-bottom {
    border-top:0 none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-pages,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-current {
	display: inline-block;
	padding: .125em .375em;
	zoom: 1;
	margin-left: .063em;
	margin-right: .063em;
	text-decoration: none;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator .ui-paginator-current,
.ui-paginator .ui-paginator-rpp-options {
	margin-left: 1em;
	margin-right: 1em;
    background-image: none;
}

.ui-paginator .ui-paginator-jtp-select option,
.ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border: 0 none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-paginator a.ui-state-disabled {
    outline: 0 none;
}


.ui-paginator-align-right {
//text-align: right;
  display: flex;
  justify-content: flex-end;
  border-style: none;
  background: transparent;
}

.ui-paginator-element.ui-state-default {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
}

.ui-paginator-page.ui-paginator-element {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  border-style: solid;
  color: rgb(111, 111, 111);
  border-color: rgb(211, 211, 211);

}

.ui-paginator-page.ui-paginator-element.ui-state-active {
  background-color: white;
  border-color: rgb(11, 235, 106);
}


.ui-paginator-rpp-options.ui-widget  {
&:focus {
   outline: none;
 }
width: 80px;
height: 35px;
line-height: 35px;
}

option.paginator-opts {
  float: right;
}
