
@import "../../../variable";

.confirmContent {
  padding: em(40);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.faMessage {
  font-size: 18px;
  color: $blackTow;
  width: 100%;
  text-align: left;
  margin-top: 20px;
}

.faIcon {
  width: 100%;
  height: 85px;
  color: $greenBlueTwo;
  font-size: 85px;
  margin-top: 190px;
  text-align: center;
}

