<div
        [ngClass]="{'ui-dialog ui-confirmdialog ui-widget ui-widget-content ui-corner-all-10 u-ui-shadow':true,'ui-dialog-rtl':rtl}"
        [style.display]="visible ? 'block' : 'none'" [style.width.px]="width" [style.height.px]="height"
        (mousedown)="moveOnTop()" [@dialogState]="visible ? 'visible' : 'hidden'">
  <div #content>
    <ng-content></ng-content>
  </div>

  <div class="confirmContent">
    <div class="faMessage" *ngIf="header">{{message}}</div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix" *ngIf="footer">
      <ng-content select="p-footer"></ng-content>
    </div>
    <div class="ui-helper-clearfix u-ui-dialog-footer" *ngIf="!footer">
      <button uButton [category]="'cancel'" [label]="rejectLabel" (click)="accept()" *ngIf="rejectVisible"></button>
      <button uButton [category]="'continue'" [label]="acceptLabel" (click)="accept()" *ngIf="acceptVisible"></button>
    </div>
  </div>
</div>
