.ui-datalist .ui-datalist-header,
.ui-datalist .ui-datalist-footer {
    text-align:center;
	padding: .5em .75em;
}

.ui-datalist .ui-datalist-header {
    border-bottom: 0 none;
}

.ui-datalist .ui-datalist-footer {
    border-top: 0 none;
}

.ui-datalist .ui-paginator {
    border-top: 0 none;
}

.ui-datalist .ui-datalist-data {
    margin: 0;
    padding: 0;
}

.ui-datalist .ui-datalist-data > li {
    list-style-type: none;

}

.emptyIcon {
  margin-right: 20px;
}

.ui-datalist .ui-datalist-emptymessage {
    padding: .5em .75em;
    color: rgb(150,150,150);
}


ul.ui-datalist-data > li.ui-datalist-selected > div {
  background-color: rgba(11,235, 106, 0.10);

}
